@import url(//db.onlinewebfonts.com/c/ef6bdf5ef216552c7e9869841e891ca0?family=Arial+Rounded+MT+Bold);
body{
    font-family: Arial Rounded MT Bold;
    background-color: #FCFBF4;
}
#logo {
    vertical-align: middle;
    border-style: none;
    margin-left: 5rem;
}
.p-3 {
    padding: 0rem!important;
}

.carousel-inner>.carousel-item>img {
    margin: 0 auto;
}
.btn-circle.btn-sm {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0 0;
    border-radius: 15px;
}

.bi-person-circle {
    width: 100px;
    height: 100px;
    padding: 0px 0px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 0 0;
    font-size: 1.9rem;
    line-height: 0;
    border-radius: 0.2rem;
}
login-modal .nav-tabs {
    border-bottom: none;
}

.tab-content>.active{
    padding: 1rem;
}
.fade {
    padding: 1rem;
    transition: opacity .15s linear;
}
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    left: 10px;
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}
.Input_Error-activo{
    display: block;
}
div.row.row-col-2{
    margin-right: -30rem;
}
input#PreDescuento.form-control{
    width: 60%;
}
input#PreOriginal.form-control{
    width: 60%;
}
input#FechaIniPromo.form-control{
    width: 50%;
}
input#FechaFinPromo.form-control{
    width: 50%;
}
input#HoraIniPromo.form-control{
    width: 50%;
}
input#HoraFinPromo.form-control{
    width: 50%;
}